/*sets my default font and a background-color for everything*/
body{
    background-color:#f2e9e4;
    font-family:sans-serif;
}

/*styles the header + nav bar*/
.navbar {
    background-color: #4A4E69;
}

/*Hover over nav links to change colour*/

a[href^="#"]:hover {
    background-color: #22223b;
}

/*Hover over sections to change label colors, letting the user know which section they are on*/
.section:hover .label{
    background-color:#9a8c98;
    color:white;
}

/*styles the labels on the lefthand side*/
.label{
    font-size:200%;
    font-family:serif;
}
